# Logistic Regression

In [2]:
import pandas as pd
import numpy as np
np.random.seed(0)
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.pipeline import Pipeline
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import MaxAbsScaler, Normalizer, StandardScaler, RobustScaler
from sklearn.ensemble import BaggingClassifier, RandomForestClassifier
from sklearn import metrics
from sklearn.linear_model import LogisticRegression
import pandas_profiling 
import seaborn as sns
import pickle
%matplotlib inline

## Import all of the data using Pickle

In [3]:
std_scl_wine = pd.read_pickle('../../data/02_intermediate/df_std_scaled.pkl')
std_scl_wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,-0.528360,0.961877,-1.391472,-0.453218,-0.243707,-0.466193,-0.379133,0.558274,1.288643,-0.579207,-0.960246,0
1,-0.298547,1.967442,-1.391472,0.043416,0.223875,0.872638,0.624363,0.028261,-0.719933,0.128950,-0.584777,0
2,-0.298547,1.297065,-1.186070,-0.169427,0.096353,-0.083669,0.229047,0.134264,-0.331177,-0.048089,-0.584777,0
3,1.654856,-1.384443,1.484154,-0.453218,-0.264960,0.107592,0.411500,0.664277,-0.979104,-0.461180,-0.584777,1
4,-0.528360,0.961877,-1.391472,-0.453218,-0.243707,-0.466193,-0.379133,0.558274,1.288643,-0.579207,-0.960246,0

In [4]:
norm_scl_wine = pd.read_pickle('../../data/02_intermediate/df_normal_scaled.pkl')
norm_scl_wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,0.195153,0.018460,0.000000,0.050107,0.002004,0.290092,0.896647,0.026314,0.092566,0.014768,0.247896,0
1,0.107231,0.012098,0.000000,0.035744,0.001347,0.343689,0.921088,0.013704,0.043992,0.009348,0.134726,0
2,0.135375,0.013190,0.000694,0.039918,0.001597,0.260337,0.937212,0.017304,0.056580,0.011281,0.170087,0
3,0.174156,0.004354,0.008708,0.029544,0.001166,0.264344,0.932978,0.015519,0.049137,0.009019,0.152386,1
4,0.194076,0.018359,0.000000,0.049830,0.001993,0.288491,0.891699,0.026169,0.092055,0.014687,0.246529,0

In [5]:
max_scl_wine = pd.read_pickle('../../data/02_intermediate/df_max_abs_scaled.pkl')
max_scl_wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,0.465409,0.443038,0.00,0.122581,0.124386,0.152778,0.117647,0.994132,0.875312,0.280,0.630872,0
1,0.490566,0.556962,0.00,0.167742,0.160393,0.347222,0.231834,0.993135,0.798005,0.340,0.657718,0
2,0.490566,0.481013,0.04,0.148387,0.150573,0.208333,0.186851,0.993335,0.812968,0.325,0.657718,0
3,0.704403,0.177215,0.56,0.122581,0.122750,0.236111,0.207612,0.994331,0.788030,0.290,0.657718,1
4,0.465409,0.443038,0.00,0.122581,0.124386,0.152778,0.117647,0.994132,0.875312,0.280,0.630872,0

In [6]:
rob_scl_wine = pd.read_pickle('../../data/02_intermediate/df_robust_scaled.pkl')
rob_scl_wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,-0.238095,0.72,-0.787879,-0.428571,-0.15,-0.214286,-0.100,0.469799,1.052632,-0.333333,-0.50,0
1,-0.047619,1.44,-0.787879,0.571429,0.95,0.785714,0.725,0.022371,-0.578947,0.333333,-0.25,0
2,-0.047619,0.96,-0.666667,0.142857,0.65,0.071429,0.400,0.111857,-0.263158,0.166667,-0.25,0
3,1.571429,-0.96,0.909091,-0.428571,-0.20,0.214286,0.550,0.559284,-0.789474,-0.222222,-0.25,1
4,-0.238095,0.72,-0.787879,-0.428571,-0.15,-0.214286,-0.100,0.469799,1.052632,-0.333333,-0.50,0

## Logistic Regression

In [7]:
def optimal_logistical(df, target_col):
    '''
        This function will take in a standardized data frame in and split it up into a target series and its variables
        
        df - dataframe 
        target_col - takes the name of the column that should be the target for the regression to approve
    '''
    
    X = df.drop(target_col)
    
    y = df.target_col
    
    return X, y

In [8]:
X, y = optimal_logistical(std_scl_wine, 'quality')
X.head()

KeyError: "['quality'] not found in axis"

In [ ]:
lr = LogisticRegression()
logreg = LogisticRegression(fit_intercept=False, C=1e16)
logreg.fit(X, y)